<div class="container min-vh-100">
  <app-domain-input-area *ngIf="!initializationPassed; else domainContent"
                         (initializationPassedEvent)="isInitializationPassed($event)"
  >
  </app-domain-input-area>
  <ng-template #domainContent>
    <app-base-node
      [node]="node"
      [nodeName]="'root'"
      [parentNode]="null"
      [collapseChildNode]="false"
    >
    </app-base-node>
  </ng-template>
  <div class="mt-5 m-5">
    <button class="btn btn-primary" (click)="save()">Save</button>
  </div>
  <div class="mt-5 m-5">
    <button class="btn btn-secondary" (click)="showDebugJson = !showDebugJson">Show debug json...</button>
    <pre class="mt-2" *ngIf="showDebugJson" #preElement>{{this.node | json}}</pre>
  </div>
</div>
