<div class="mt-2 p-2 pl-3 node-element-base container" style="margin-left: 20px;">

  <div class="mt-2 mb-0 m-2 d-flex justify-content-start align-items-end">
    <h4 class="fs-3 m-0">
      <small *ngIf="isIndexedChild" class="text-muted">Duplicate name. </small>
      <small class="text-muted m-0">Node: </small>
      {{nodeName}}
    </h4>
    <i *ngIf="!isArray()" class="ms-3 text-primary cursor-pointer material-icons" (click)="editName()"
       style="font-size:25px;">edit</i>
    <i *ngIf="!isArray()" class="ms-3 text-danger cursor-pointer material-icons" (click)="clickDelete()"
       style="font-size:25px;">cancel</i>
  </div>

  <div class="mt-3 mb-3 m-3 p-2 node-element-content" *ngIf="!isArray()">
    <div style="max-width: 1000px">
      <div class="mt-2 mb-0 m-2 d-flex justify-content-start align-items-end">
        <b class="mt-2 mb-0 m-2">Attributes</b>
        <i class="material-icons text-success cursor-pointer" (click)="addAttribute()">add</i>
      </div>
      <table class="mt-2 mb-0 m-2 table table-striped table-bordered">
        <thead>
        <tr>
          <td>Property</td>
          <td>Value</td>
          <td>Action</td>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let attr of attributes; let i = index" [attr.data-index]="i">
          <td [textContent]="attr.name"></td>
          <td [textContent]="attr.value"></td>
          <td style="width: 100px;">
            <i class="material-icons text-success cursor-pointer" (click)="editAttr(i)">edit</i>
            <i class="material-icons text-danger cursor-pointer" (click)="deleteAttr(i)">delete</i>
          </td>
        </tr>
        <tr *ngIf="attributes.length == 0">
          <td colspan="3"><p class="mt-2 mb-0 m-2">This node don't contains attributes</p></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="mt-2 mb-0 m-2">

    <button class="btn"
            [class.btn-secondary]="!collapseChildNode"
            [class.btn-primary]="collapseChildNode"
            (click)="processExpandButtonClick()"
            *ngIf="childNodes.length != 0; else nothingToShow"
    >{{collapseChildNode != true ? "Hide" : "Expand child nodes"}}</button>

    <button class="ms-3 btn btn-primary"
            *ngIf="!isArray()"
            (click)="addNewNode()"
    >Add child node
    </button>

    <div *ngIf="!collapseChildNode">
      <app-base-node
        *ngFor="let cNode of childNodes"
        [node]="cNode.object"
        [parentNode]="node"
        [nodeName]="cNode.name"
        [isIndexedChild]="isArray()"
      ></app-base-node>
    </div>

  </div>

  <ng-template #nothingToShow>
    <p class="mt-2 mb-0 m-2 d-inline">This node dont contains child elements</p>
  </ng-template>
</div>
